---
---
@font-face {
  font-family: 'Moon';
  src: url('../fonts/Moon Bold.otf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Moon';
  src: url('../fonts/Moon Light.otf');
  font-style: normal;
  font-weight: 300;
}
$blue-color: #239cca;
$blue-hover-color: #41b3df;
$primary-color: #2fcea0;
$btn-color: #2fcea0;
$btn-hover-color: #57d9b3;

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  // padding-top: 60px;
  font-size: 15px;
}

.btn-big {
  display: block;
  padding: 14px 15px;
  font-size: 16px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
  border: 1px solid;
}

.btn.bg-green {
  background: $btn-color;
  color: #fff;
  &:hover {
    background: $btn-hover-color;
  }
}
.btn-yellow {
  background-color: #f6b036;
  color: #fff;
}
.btn-yellow:hover,
.btn-yellow:focus {
  background-color: #f5a61e;
  color: #fff;
}
.bg-gray {
  background-color: #fafafa;
}

.main-content {
  min-height: 84vh;
}
.form-control {
  padding: 12px;
  height: 46px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #ccc;
}
.section-header {
  position: relative;
  font-size: 28px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'Fjalla One';
  font-weight: 700;
  text-align: center;
}
.section-header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 30px;
  margin: 0 auto;
  height: 4px;
  background-color: $primary-color;
}
.section {
  padding: 40px 0;
}
/*--------navigation---------*/
.navbar-default {
  background-color: #fff;
  min-height: 60px;
}
.navbar-brand {
  padding: 16px 0 15px 0;
  font-size: 40px;
}
.navbar-brand img {
  height: 45px;
}
.navbar-default .navbar-nav .freetrail-btn > a {
  background-color: $btn-color;
  color: #fff;
  padding: 8px 12px;
  margin-top: 8px;
  border-radius: 3px;
}
.navbar-default .navbar-nav .freetrail-btn > a:hover,
.navbar-default .navbar-nav .freetrail-btn > a:focus {
  background-color: $btn-hover-color;
  color: #fff;
}
/*--------Footer----------*/
.footer {
  background-color: #fff;
  border-top: 1px solid #ddd;
}
.footer-nav {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 10px 0;
  text-align: center;
}
.footer-nav > li {
  display: inline-block;
  padding: 5px;
}
.footer-nav > li > a {
  display: block;
  text-decoration: none;
  color: #666;
}
.footer-nav > li > a:hover,
.footer-nav > li > a:focus {
  color: #000;
  text-decoration: none;
  outline: 0;
}
.copyright {
  display: inline-block;
  text-align: center;
  margin: 15px 20px 0 0;
  font-size: 12px;
}
@media (max-width: 767px) {
  .copyright {
    display: block;
    text-align: center;
  }
  .footer-nav {
    display: block;
    text-align: center;
  }
  .social-icons {
    float: none !important;
    text-align: center;
  }
}
.social-icons {
  list-style: none;
  padding: 0;
  margin: 15px 0 10px 0;
  text-align: center;
}
.social-icons > li {
  display: inline-block;
  padding: 0 10px;
}
.icon {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
}
.icon:hover,
.icon:focus {
  color: #fff;
}
.icon-facebook {
  background-color: #3b5998;
  color: #fff;
}
.icon-twitter {
  background-color: #55acee;
  color: #fff;
}
.icon-google {
  background-color: #dd4b39;
  color: #fff;
}
.icon-linkedin {
  background-color: #007bb6;
  color: #fff;
}
.icon-instagram {
  background-color: #3f729b;
  color: #fff;
}
.icon-github {
  background-color: #888;
  color: #fff;
}
/*-----------Banner---------*/
.banner {
  min-height: 600px;
  padding: 3em 0;
  background: url("../images/datacol-banner.png") no-repeat bottom -20px center/cover;
	position: relative;
  border-bottom: 2px solid #f6f8f6;
}
.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.banner-message {
  position: relative;
  text-align: left;
  max-width: 700px;
  margin-top: 40px;
}
.banner-message h1 {
  font-family: 'Fjalla One';
  color: #fff;
  font-size: 62px;
  line-height: 74px;
  font-weight: 700;
}
.banner-flow-image {
  margin: 40px 0;
}
.banner-flow-image img {
  max-width: 100%;
  height: auto;
}
.banner-message p {
  font-size: 19px;
  color: #fff;
}
.banner-actions .btn {
  display: inline-block;
  height: 50px;
  line-height: 48px;
  border-radius: 2px;
  padding: 0 15px;
  width: 260px;
}
.btn-how-works {
  background-color: transparent;
  color: #fff;
  border: 2px solid #f6f6f6;
  font-size: 16px;
  font-weight: 700;
  margin-left: 10px;
  line-height: 46px !important;
}
.btn-how-works:hover,
.btn-how-works:focus {
  background-color: #fff;
  border-color: #fff;
  color: #111;
}
@media (max-width: 767px) {
  .banner-flow-image {
    display: none;
  }
  .banner-actions {
    margin-top: 20px;
  }
  .banner-message h2 {
    font-size: 34px;
    line-height: inherit;
  }
  .banner-message h6 {
    font-weight: 400;
  }
}

.cta-wrapper {
  padding: 60px 0;
}

.cta-wrapper.gray {
  padding: 60px 0px;
  background-color: #f7f8fa;
}

/*------why------*/
.why-wraper {
  background-color: #F0F5FA;
}
.why-item {
  padding: 15px;
  text-align: center;
  background-color: #fff;
  margin-top: 60px;
  margin-bottom: 30px;
  min-height: 240px;
  box-shadow: 0 0 2px -1px #ddd;
}
.why-item h4 {
  font-size: 22px;
  font-family: 'Fjalla One';
  font-weight: 700;
}
.why-item img {
  display: block;
  width: 100px;
  height: 100px;
  margin: -65px auto 0;
}
.why-item p {
  line-height: 1.5;
  color: #424c5c;
}
/*----how-it-works-----*/
.step-tabs {
  list-style: none;
  padding: 0;
  max-width: 800px;
  width: 100%;
  margin: 0 auto 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.step-tabs::after,
.step-tabs::before {
  content: '';
  display: table;
}
.step-tabs::after {
  clear: both;
}
.step-tabs > li {
  display: block;
  width: 33.3333%;
  float: left;
}
.step-tabs > li > a {
  display: block;
  width: 100%;
  padding: 14px 20px;
  text-align: center;
  color: #888;
  text-decoration: none;
  font-weight: 600;
  border-right: 1px solid #ddd;
  text-transform: uppercase;
}
.step-tabs > li.active > a {
  background-color: $primary-color;
  color: #fff;
}
.step-tabs > li:last-child > a {
  border-right: 0;
}
.step-item {
  margin-bottom: 15px;
}
.step-count {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: $primary-color;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  float: left;
  margin-right: 10px;
}
.step-item-msg {
  overflow: hidden;
  word-wrap: break-word;
  font-size: 16px;
  color: #424c5c;
}
.step-item-msg h4 {
  margin-top: 10px;
  font-weight: 700;
  color: #424c5c;
  font-family: 'Fjalla One';
}
.info-list {
  list-style: circle;
  margin: 0 0 0 20px;
  padding: 0;
}
.info-list li {
  margin: 10px 0;
}
/*-------features------*/
.features-wraper {
  background-color: #f6f8f6;
}
.feature-item {
  position: relative;
  padding: 10px;
  margin-bottom: 50px;
}
.feature-item::after,
.feature-item::before {
  content: '';
  display: table;
}
.feature-item::after {
  clear: both;
}
.feature-item-icon {
  display: inline-block;
  float: left;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  text-align: center;
  padding-top: 15px;
}
.feature-item-icon img {
  width: 50px;
  height: 50px;
}
.feature-item-msg {
  overflow: hidden;
  padding-left: 10px;
}
.feature-item-msg h4 {
  font-size: 22px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
}
.signup-wraper {
  width: 100%;
  background-color: #41295a;
  padding: 30px 40px 50px 40px;
  z-index: 2;
}
.signup-wraper .box {
  max-width: 600px;
  margin: 0 auto;
}
.signup-email-wraper::after,
.signup-email-wraper::before {
  content: '';
  display: table;
}
.signup-email-wraper::after {
  clear: both;
}
.signup-email-field {
  overflow: hidden;
  padding-right: 15px;
}
.signup-email-field .form-control {
  height: 44px;
  line-height: 44px;
  padding: 0 15px;
  border-radius: 2px;
}
.signup-email-field .form-control:focus {
  box-shadow: none;
  border-color: #f1f1f1;
}
.signup-email-wraper .btn-email {
  font-size: 16px;
  font-weight: 600;
  width: 150px;
  padding: 10px 12px;
  float: right;
  border-radius: 2px;
}
.signup-wraper h2 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
}
