<!-- Footer -->
<footer class="footer">

  <div class="container">
    <div class="col-sm-6">
      <p class="copyright">
        &copy; Datacol. All rights reserved.
      </p>
      <ul class="footer-nav">
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li><a href="{{site.baseurl}}/pricing">Pricing</a></li>
        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
      </ul>
    </div>

    <div class="col-sm-6">
      <ul class="social-icons pull-right">
        <li><a href="#" class="icon icon-facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="icon icon-twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="icon icon-linkedin"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>

  </div>
</footer>
