<!-- Header -->
<header id="header" class="skel-layers-fixed" style="height: 70px; padding: 10px">
  <div class="container">
    <h1>
        <a href="{{ site.baseurl }}/" class="site-title" >
            <img src="{{site.baseurl}}/images/logo.png" />    
        </a>
    </h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">How it works</a></li>
            <li><a href="{{ site.baseurl }}/left-sidebar.html">Pricing</a></li>
            <li><a href="{{ site.baseurl }}/right-sidebar.html">Developers</a></li>
            <li><a href="#" class="button special">Free Trial</a></li>
        </ul>
    </nav>
  </div>
</header>