<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="{{ site.baseurl }}/">
      {{site.title}}
     </a>
   </div>
   <div id="navbar" class="collapse navbar-collapse">
     <ul class="nav navbar-nav navbar-right">
        <li><a href="#htw" class="scroll-nav">How it works</a></li>
        <li class="freetrail-btn"><a href="#try-modal" data-toggle="modal">Try {{site.title}}</a></li>
     </ul>
   </div>
 </div>
</nav>


<div class="modal fade" id="try-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal"> &times; </button>
        <h4 class="modal-title"> Try {{site.title}} </h4>
      </div>

      <div class="modal-body">
        <p> 
          <p> Get started with {{site.title}} is easy. It will take almost 10 minute to go from zero to first deployment. </p>
          <h4> 1. Download cli </h4>

{% highlight shell %}
curl -Ls https://storage.googleapis.com/datacol-distros/osx > /usr/local/bin/datacol
{% endhighlight %}

          <hr><h4> 2. Create a new stack </h4>
          <p> Get project identifier from <a href="https://console.cloud.google.com" target="_blank"> Google Console </a> or create a new one. </p>

{% highlight shell %}
datacol init --project gcp-demo --stack demo --zone us-east1-b
{% endhighlight %}
        <p> It will create a new stack by name "demo" in us-east1-b zone under gcp-demo project. </p>

        <hr><h4> 3. Deploy your app </h4>
{% highlight shell %}
git clone git@github.com:datacol-io/node-demo.git && cd -
datacol apps create
datacol deploy
{% endhighlight %}

          <p> If you face any difficulty, please don't hesitate to reach out or send your suggestions 
              <a href="https://github.com/datacol-io/face/issues" target="_blank"> here </a>.
        </p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">
          Will do later
        </button>
      </div>
    </div>
  </div>
</div>
