
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="top">
    {% include header.html %}
    <div class="main-content" style="padding: 80px 0 40px 0;">
      <div class="container">
        <div class="row">
          <div class="col-md-8 markdown-body">
            {{ content }}
          </div>
          <div class="col-md-4 hidden-sm hidden-xs">
            <form method="POST" class='subscribe-form'>
              <div class="subscribe-box" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
                <h4>Subscribe to our newsletter</h4>
                <div class="form-group">
                  <input type="email" name="email" value="" class="form-control" placeholder="Email Address">
                </div>
                <button type="button" name="button" class="btn btn-subscribe">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
