<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">
    <!-- {% include /header.html %} -->

    <!-- Banner -->
    <section class="banner">
      <div class="container">
        <div class="banner-message">
          <h1>Better way to build apps on Google Cloud</h1>
          <p>{{site.title}} is a control layer on top of GCP, to provide heroku like experience with the power of Kubernetes under the hood</p>

          <div class='banner-actions'>
            <a href="{{site.baseurl}}/#htw" class="btn btn-big bg-green">Get Started</a>
            <a href="{{site.baseurl}}/#htw" class="btn btn-how-works">How it Works</a>
          </div>
        </div>
      </div>
    </section>

    {{ content }}

    {% include /footer.html %}
    {% include /segment.html %}
  </body>
</html>
